<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='build/app.css' />
  </head>
  <body>
    {{{body}}}
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="foundation-sites/dist/foundation.min.js"></script>
    <script src="build/bundle.js"></script>
  </body>
</html>
