$theme-font: url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300');

$theme-blue: #84d9e3;
$theme-light-blue: #edf7f6;
$theme-dark-blue: #143149;
$theme-off-white: #f2f2f2;
$theme-ruby: #fc2232;
$theme-light-ruby: #ffe0e2;