//colors
$theme-blue: #84d9e3;
$theme-light-blue: #edf7f6;
$theme-dark-blue: #143149;
$theme-ruby: #fc2232;
$theme-light-ruby: #fff0f1;

//font sizes and fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
$theme-font: 'Open Sans', serif;
$font-small: 10px !important;
$font-regular: 16px !important;
$font-large: 22px !important;
